body{
	background:whitesmoke;
}
main{
	background:yellow;
}
h1{
	text-align: center;
	font-size: 5em;
	margin-top:20px;
	margin-bottom:15px;
}
#board{
	padding-top:10px;
	background:gray;
	margin:0 auto;
	height:530px;
	width:45%;
}
.slot{
	float:left;
	position:relative;
	background:blue;
	height:150px;
	width:26.5%;
	margin: 10px 10px;
	left:27px;
}
footer{
	height:50px;
	background: pink;
}